<footer class="main-footer">
    <div>
        &copy; 2026, Powered by
        <a href="https://sfpedutech.com/" target="_blank"
            style="text-decoration: none; font-weight: bold; color: #697a8d;">
            SFPEDUTECH
        </a>
    </div>
    <ul class="footer-links">
        <li><a href="/help.html">Help</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li><a href="/documentation.html">Documentation</a></li>
        <li><a href="/support.html">Support</a></li>
    </ul>
</footer>